<section>
  <h2>
    <% if @user == current_user %>
      <h2>Your events</h2>
    <% else %>
      Events created by <%= @user.name %> (<%= @user.username %>)
      <% @events = @events.visible %>
    <% end %>
  </h2>

  <%= render 'shared/unless_empty', locals: { collection: @events } %>
</section>

<% if @user == current_user %>
  <% upcoming_events =
    current_user.attended_events.upcoming %>

  <% ongoing_events =
    current_user.attended_events.ongoing %>

  <% past_events =
    current_user.attended_events.past %>

  <section>
    <h2>Upcoming events you are registered for</h2>
    <%= render 'shared/unless_empty', locals: { collection: upcoming_events } %>
  </section>

  <section>
    <h2>Ongoing events you are registered for</h2>
    <%= render 'shared/unless_empty', locals: { collection: ongoing_events } %>
  </section>

  <section>
    <h2>Past events you have attended</h2>
    <%= render 'shared/unless_empty', locals: { collection: past_events } %>
  </section>
<% end %>
