<h2><%= @filter.capitalize %> events</h2>
<ul>
  <li><%= link_to 'All events', events_path %></li>
  <li><%= link_to 'Upcoming events', events_path(filter: :upcoming) %></li>
  <li><%= link_to 'Ongoing events', events_path(filter: :ongoing) %></li>
  <li><%= link_to 'Past events', events_path(filter: :past) %></li>
</ul>
<%= render 'shared/unless_empty', locals: { collection: @events.send(@filter) } %>
