<div class="event-description">
  <h2><%= @event.name %></h2>
  <p>
    Created by: <%= @event.creator.name %>
    (<%= link_to @event.creator.username, @event.creator %>)
  </p>

  <% if @event.description %>
    <p><%= @event.description %></p>
  <% end %>

  <%= render 'events/event_details', locals: { event: @event } %>

  <% if @event.end_time > Time.now %>
    <% if current_user && current_user.attended_events.include?(@event) %>
      <%= link_to "Unregister from this event",
        event_attendances_path(event: @event), method: :delete %>
    <% else %>
      <%= link_to 'Register for this event',
        event_attendances_path(event: @event), method: :post %>
    <% end %>
  <% end %>

  <% if @event.creator == current_user %>
    <%= link_to 'Edit event', edit_event_path(@event) %>
    <%= link_to 'Delete event', @event, method: :delete, style: "color: red;",
      data: { confirm: "Are you sure?" } %>

    <section class="invitations">
      <%# TODO keep working here %>
      <%= form_with url: user_search_url %>
    </section>
  <% end %>

  <section>
    <h3>
      <%= pluralize(@event.attendees.count, "person") %>
      registered for this event
    </h3>

    <ul>
      <% @event.attendees.each do |attendee| %>
        <li><%= link_to attendee.username, attendee %></li>
      <% end %>
    </ul>
  </section>
</div>
