<header>
  <h1><%= link_to 'Private events', root_path %></h1>
  <nav>
    <ul>
      <% if user_signed_in? %>
        <li><%= link_to 'Create Event', new_event_path %></li>
        <li><%= link_to 'My Events', my_events_path %></li>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li><%= link_to 'Log in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
